* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    list-style: none;
}

:root {
   --main-color:#8d99ae;
   --secondary-color:#D6E0E3; 
   --content-color:#2b2d42;
   --large-text: 4.5rem;
   --big-text: 4rem;
   --normal-text: 2.6rem;
}

body {
    background-color: var(--main-color);
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    overflow-x: hidden;
}

nav {
    height: 8rem; 
    width: 100%;
    display: flex;
    align-items: center;
}
#roster-btn {
    text-decoration: none;
    color: var(--content-color);
    margin-left: 10%;
    font-family: 'Work Sans', serif;
    font-size: 2.2rem;
    display: flex;
}
#roster-text {
    margin-left: 0.5rem;
}

#roster-btn:hover #roster-arrow {
    animation: shifty 1s ease-in-out infinite; 
}

#page-wrapper {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding-top: 1rem;
    padding: 0 10%
}

.container {
    width: 49%;
}
.divider1 {
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
    min-width: 30rem;
}
#dividerline {
    background-color: var(--content-color);
    height: 70vh;
    width: 2px;
}
.text-wrapper {
    width: 100%;

}

.text {
    color: var(--content-color);
    font-family: 'Work Sans', serif;
    text-transform: lowercase;
    font-weight: 300;
    font-size: var(--normal-text);
}

.header {
    font-family: 'Questrial', serif;
    text-transform: uppercase;
    font-weight: normal;
}

#main-header {
    color: var(--secondary-color);
    font-size: var(--large-text)
}

#welcome {
    font-size: var(--large-text);
    margin: 2rem 0 3rem 0;
}

#clicker {
    margin-top: 6rem;
    background: var(--content-color);
    font-family: "Work Sans", serif;
    font-size: var(--normal-text);
    font-style: italic;
    border-radius: 1.2rem;
    display: block;
    cursor: pointer;
    text-transform: uppercase;
}

#clicker span {
    display: block;
    background: var(--main-color);
    padding: 2rem 6rem;
    border: 2px solid var(--content-color);
    border-radius: 1.2rem;
    transform: translate(-1rem, -1rem);
    transition: all 0.3s ease-in-out;
    color: var(--content-color);
}

#clicker:hover span {
    transform: translate(-0.2rem,-0.2rem);
    color: var(--secondary-color);
}

#project {
    margin-left: 10%;
    font-size: var(--big-text);
    padding-bottom: 0.1rem;
    border-bottom: 3px solid var(--content-color);
    width: fit-content;
    color: var(--content-color)
}

#projects-list {
    margin-left: 10%;
}

.project-item {
    margin-top: 1rem;
    text-shadow: 0px 0px 0px var(--secondary-color);
    transition: text-shadow 0.5s ease-out;
}
.project-item a {
    color: var(--content-color);
    text-decoration: none;
    
}

.project-item:hover {
    font-style: italic;
    /* text-shadow: 4px 3px 1px var(--secondary-color); */
    animation: shiftyShadow 1s ease-in-out infinite;
}

.project-item:first-of-type::after {
    content: "Hello Web!"
}

.project-item:first-of-type:hover::after {
    content: "Change the theme!"
}

.underline {
    text-decoration: underline 2px;
}

@keyframes shiftyShadow {
    0% {
        transform: translateX(0);
        text-shadow: 4px 3px 1px var(--secondary-color);
    }
    50% {
        transform: translateX(-.2rem);
        text-shadow: 0px 3px 1px var(--secondary-color);
    }
    100% {
        transform: translateX(0);
        text-shadow: 4px 3px 1px var(--secondary-color);
    }
}

@keyframes shifty {
    0% {
        transform: translateX(0) ;
    }
    50% {
        transform: translateX(-.2rem);
    }
    100% {
        transform: translateX(0) ;
    }
}

@keyframes popOut-left {
    0% {
        transform: translateX(-12rem) rotate(90deg);
    }
    50% {
        transform: translateX(0) rotate(90deg);
    }
    100% {
        transform: translateX(-12rem) rotate(90deg);
    }
}

@keyframes popOut-right {
    0% {
        transform: translateX(12rem) rotate(-90deg);
    }
    50% {
        transform: translateX(0) rotate(-90deg);
    }
    100% {
        transform: translateX(12rem) rotate(-90deg);
    }
}

@keyframes popOut-top {
    0% {
        transform: translateY(-12rem) rotate(180deg);
    }
    50% {
        transform: translateY(0) rotate(180deg);
    }
    100% {
        transform: translateY(-12rem) rotate(180deg);
    }
}


@media screen and (max-width: 1650px) {
    :root {
        --large-text: 4rem;
        --big-text: 3.5rem;
        --normal-text: 2.5rem;
    }
  }

  @media screen and (max-width: 1300px) {
    :root {
        --large-text: 3rem;
        --big-text: 3rem;
        --normal-text: 2rem;
    }
    #dividerline {
        height: 60vh;
    }
  }

  @media screen and (max-width: 1176px) {
    :root {
        --large-text: 3rem;
        --big-text: 3rem;
        --normal-text: 2rem;
    }
    #page-wrapper {
        justify-content: center;
    }
    .container {
        width: 80%;
        margin: 4rem 0;
    }
    #project {
        margin: 0;
        width: 100%;
        text-align: center;
    }
    #projects-list {
        margin: 2rem 0 0 0;
    }
    .divider2 {
        margin-top: 5rem;
    }
    #dividerline {
        display: none;
    }
  }

  @media screen and (max-width: 400px) {
    :root {
        --large-text: 2.5rem;
        --big-text: 2rem;
        --normal-text: 1.5rem;
    }
    #page-wrapper {
        justify-content: center;
    }
    nav {
        height: 1rem;
    }
    .text-wrapper {
        padding: 0 20%;
    }
    .container {
        width: 60%;
    }
    .divider1 {
        width: 80%;
    }
    #project {
        margin: 0;
        width: 100%;
        text-align: center;
    }
    #projects-list {
        margin: 2rem 0 0 0;
    }
    .divider2 {
        margin-top: 5rem;
    }
    #dividerline {
        display: none;
    }
  }


